{include file="app/admin/view/common/head.html" /}
<body>
<div class="dvcontent">
	<div>
		<!--tab start-->
		<div class="tabs">
			<div class="hd">
				<ul>
					<li class="on" style="box-sizing: initial;-webkit-box-sizing: initial;">查看用户</li>
					<li class="" style="box-sizing: initial;-webkit-box-sizing: initial;">添加用户</li>
				</ul>
			</div>
			<div class="bd">
				<div style="display: block;padding: 20px;height: 100%;">
				<ul>
					<li>
						<!--分页显示角色信息 start-->
						<div id="dv1">
							<table class="table" id="tbRecord">
								<thead>
									<tr>
										<th>编号</th>
										<th>用户名</th>
										<th>密码</th>
										<th>权限</th>
										<th>修改</th>
										<th>删除</th>
									</tr>
								</thead>
								<tbody>
									{volist name='lists' id='user'}
									    <tr>
											<td>{$key+1}</td>
											<td>{$user.userName}</td>
											<td>{$user.password}</td>
											<td>{$user.limits}</td>
											<td class="edit"><button onclick="btn_edit({$user.id})"><i class="icon-edit bigger-120"></i>编辑</button></td>
											<td class="delete"><button onclick="btn_delete({$user.id})"><i class="icon-trash bigger-120"></i>删除</button></td>
										</tr>
									{/volist}
									{if condition="$empty eq null"}	
										<tr>
											<td colspan="8">没有数据</td>
										</tr>
									{/if}		
								</tbody>									
							</table>
						</div>
						<!--分页显示角色信息 end-->
					</li>
				</ul>
				{$page}
				</div>
				<div class="theme-popbod dform" style="display: none;height: 100%;">
				<ul>
					<div class="am-cf admin-main" style="padding-top: 0px;">
					<!-- content start -->			
					<div class="am-cf admin-main" style="padding-top: 0px;">
						<!-- content start -->
						<div class="admin-content">
							<div class="admin-content-body">								
								<div class="am-g">
									<div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
										
									</div>
									<div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4"
										style="padding-top: 30px;">
										<form class="am-form am-form-horizontal" action="user/addUser1Submit.action" method="post">								
											<div class="am-form-group">
												<label for="user-name" class="am-u-sm-3 am-form-label">用户名</label>
												<div class="am-u-sm-9">
													<input type="text" id="user-name" required placeholder="用户名" name="userName" class="userName">
												</div>
											</div>
											<div class="am-form-group">
												<label for="user-email" class="am-u-sm-3 am-form-label">密码</label>
												<div class="am-u-sm-9">
													<input type="tel" id="user-phone" required placeholder="请输入密码" name="password" class="password" />
												</div>
											</div>
											<div class="am-form-group">
												<label for="user-email" class="am-u-sm-3 am-form-label">权限</label>
												<div class="am-u-sm-9">
													<select  name="limits" class="limits">
														<option value="0">0</option>
														<option value="1">1</option>
													</select>
												</div>
											</div>
											<div class="am-form-group">
												<div class="am-u-sm-9 am-u-sm-push-3">
													<input type="submit" class="am-btn am-btn-success" value="添加用户" id="button" />
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							
						</div>
						<!-- content end -->
					</div>
					<!--添加角色 end-->
				</ul>
				</div>
			</div>
		</div>
		<!--tab end-->
	</div>
</div>
<script>
	$(function() {
		$(".tabs").slide({ trigger: "click" });
		//添加用户
		$("#button").on("click",function(){
			event.preventDefault(); 
			var userName = $(".userName").val();
			var password = $(".password").val();
			var limits = $(".limits").val();		
			var formData = new FormData();
		        formData.append('userName',userName);
		        formData.append('password',password);
		        formData.append('limits',limits);
			var url = "__MODULE__/User/add_data"
		    $.ajax({
		        url: url,
		        type: "post",
		        data: formData,
		        contentType: false,
		        processData: false,
		        dataType:"json",
		        mimeType: "multipart/form-data",
		        success: function (data) {
		        	if(data.code == 0){
		        		$.jq_Alert({
							message: data.msg,
							btnOkClick: function() {
								window.location.reload();
							}
						});
		        	}else{
		        		$.jq_Alert({
							message: data.msg
						});
		        	}
		        },
		        error: function (data) {
		            console.log('请求失败');
		        }
		    });
		})
	});
	//删除
	var btn_delete = function(id) {
		$.jq_Confirm({
			message: "您确定要删除吗?",
			btnOkClick: function() {
				$.ajax({
					type: "post",
					url: "__MODULE__/User/del_data",
					data: { id: id },
					dataType:"json",
					success: function(data) {
						if(data.code == 0) {
							$.jq_Alert({
								message: "删除成功",
								btnOkClick: function() {
									window.location.reload();
								}
							});
						}
					}
				});
			}
		});
	}
	//编辑用户
	var btn_edit = function (id){
		window.location.href = "__MODULE__/User/update.html?id=" + id;
	}
</script>
</body>

</html>