<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>后台管理系统</title>
	<link href="__PUBLIC__/admin/css/bli/Site.css" rel="stylesheet" type="text/css" />
	<link href="__PUBLIC__/admin/css/bli/zy.layout.css" rel="stylesheet" />
	<link href="__PUBLIC__/admin/css/bli/zy.form.css" rel="stylesheet" />
	<link href="__PUBLIC__/admin/css/bli/font-awesome.min.css" rel="stylesheet" />
	<link href="__PUBLIC__/admin/css/bli/zy.menu.css" rel="stylesheet" />
	<link href="__PUBLIC__/admin/css/bli/zy.all.css"  rel="stylesheet" />
	<link href="__PUBLIC__/admin/css/bli/amazeui.min.css" rel="stylesheet" />
	<link href="__PUBLIC__/admin/css/admin.css" rel="stylesheet" />

	<script src="__PUBLIC__/admin/js/bli/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="__PUBLIC__/admin/js/plugs/Jqueryplugs.js" type="text/javascript"></script>
	<script src="__PUBLIC__/admin/js/bli/_layout.js"></script>
	<script src="__PUBLIC__/admin/js/plugs/jquery.SuperSlide.source.js"></script>
	<!-- 富文本 -->
	<script type="text/javascript" src="__PUBLIC__/admin/js/bli/wangEditor.min.js"></script>
</head>